<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<button class="btn btn-primary" [disabled]="!allowAddServer" (click)="onCreateServer()">Add Server</button>
<p>{{ serverCreated }}</p>
<p *ngIf="serverInserted; else server">Server was created, server name is {{serverName}}</p>
<ng-template #server>
    <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
