<div class="container">
 <div class="row">
  <div class="col-xs-12">
    <h3>I'm in the AppComponent!</h3>
    <hr>
    <app-servers></app-servers><!--selecting component by element. If your using components then you would mostly
     use selecting components by elements -->
    <!-- <div app-servers></div>--><!--selecting component by attributes. If your using components then you would mostly
     use selecting components by elements -->
    <!--<div class="app-servers"></div>--><!--selecting component by class. If your using components then you would mostly
     use selecting components by elements -->
  </div>
 </div>
</div>

